<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원 정보 처리 SQL -->
<mapper namespace="DAO.RoomMapper">

<insert id="insertRoom" parameterType="Room">
insert into Room
(
room_seq
, room_name
, first_day
, last_day
, room_password
, leader
, room_creater
) values
(
room_seq.nextval
, #{room_name}
, #{first_day}
, #{last_day}
, #{room_password}
, #{leader}
, #{room_creater}
)
</insert>

<select id="RoomList" resultType="Room">
select
room_seq
, room_name
, first_day
, last_day
, room_password
, leader
, room_creater
from 
	Room
</select>

<select id="Room_seqFinder" parameterType="Room" resultType="Room">
select
room_seq
from 
room
where
room_creater
=#{room_creater}
</select>

<select id="RoomCheck" parameterType="Room" resultType="Room">
select
room_password
from 
room
where
room_seq
=#{room_seq}
</select>

<select id="RoomFinder" parameterType="String" resultType="Room">
select
room_seq
, room_name
, first_day
, last_day
, room_password
, leader
, room_creater
from Room
where room_seq = #{room_seq}
</select>

<update id="roomUpdate" parameterType="String">
update
Room
set
leader=#{leader}
where
room_seq=#{room_seq}
</update>

</mapper>
